<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >



<suite name="Free CRM Automation Test Suite">

<listeners>
    <listener class-name="pack.crm.ExtentreportListener.ExtentreportListener" />

</listeners>
  <test name="Regression1"   >

  <packages>
      <package name="pack.crm.testcases" />
   </packages>
 </test>
 

</suite> <!-- Suite -->
